/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Background */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding:0;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px ;
  
    background-color: #313131;
    
}


.logo h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
}

.nav-toggle {
    font-size: 24px;
    display: none; /* Hidden by default, visible on mobile */
}

.desktop-nav ul {
    list-style: none;
    display: flex;
}

.desktop-nav ul li {
    margin: 0 15px;
}

.desktop-nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Modal Navigation Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: rgba(0,0,0,0.8);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 1000;
}

.modal ul li {
    display: block;
    margin-bottom: 20px;
}

.modal ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease-in-out;
}

.modal ul li a:hover {
    color: #3498db;
}

.modal ul li a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #3498db;
    bottom: -3px;
    left: 0;
    transition: all 0.4s ease-in-out;
}

.modal ul li a:hover::before {
    width: 100%;
}

.close-btn {
    font-size: 1.5rem;
    cursor: pointer;
    margin-bottom: 20px;
    color:white;
}


/* About Us Section */
.about-us {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-us h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-us h3 {
    font-size: 22px;
    margin: 15px 0 10px;
}

.about-us p {
    margin-bottom: 15px;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    color: black;
}
/* Responsive Styles */


@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }

    .nav-toggle {
        display: block;
        cursor: pointer;
        color:white;
    }

    .article-grid {
        grid-template-columns: 1fr;
    }

    .hero h2 {
        font-size: 1.8rem;
    }

    .modal {
        width: 70%;
    }

    .featured-article {
        flex-direction: column;
        align-items: center;
    }

    .close-btn {
        text-align: left;
        font-size: 2rem;
    }
}
